/* Header.css */
.header {
    position: fixed;
    /* Make the header fixed */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure the header is always on top */

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background-color: #333;
    color: white;
    height: 60px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.header a:hover {
    color: #ddd;
}

.header-logo {
    font-size: 1.8rem;
    color: white;
}

.user-name {
    margin-right: 15px;
    font-weight: 500;
}

.logout-btn {
    background-color: #ff4d4f;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.logout-btn:hover {
    background-color: #d9363e;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Add top padding to the main content to avoid overlap */
.main-content {
    padding-top: 70px;
    /* Height of the header + some margin */
}

.nav-links {
    margin-right: 30px;
}